*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.authContainer{
    background-image: url('assets/Images/auth-bg.jpg');
    background-size: 100% 100% ;
    background-position: center center;
}

.auth-overlay{
    background: linear-gradient(30deg, #2c815489, #000000a0 50%);
}

.auth-title{
    color: #494949;
    font-size: 25px;
}

.auth-subtitle{
    color: #494949ab;
}

.form-control:focus{
    box-shadow: none !important;
}

.theme-green-text{
    color: #4AA35A;
}

.theme-green-bg{
    background-color: #4AA35A;
}

.auth-btn:hover, .auth-btn:focus{
    background-color: #3f8a4d !important;
}