*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.authContainer{
    background-image: url('assets/Images/auth-bg.jpg');
    background-size: 100% 100% ;
    background-position: center center;
}

.auth-overlay{
    background: linear-gradient(30deg, #2c8154a9, #000000b3 50%);
}

.auth-title{
    color: #494949;
    font-size: 25px;
}

.auth-subtitle{
    color: #494949ab;
}

.form-control:focus{
    box-shadow: none !important;
}

.theme-green-text{
    color: #4AA35A;
}

.theme-green-bg{
    background-color: #4AA35A;
}

.auth-btn:hover, .auth-btn:focus, .auth-btn:disabled{
    background-color: #3f8a4d !important;
}

/* .main-content-container{
    margin-left: 17vw;
} */

.sidebar-container .ps-sidebar-container{
    background-color: rgba(31, 38, 62, 1) !important;
    border-top-right-radius: 60px;
    /* height: 100vh; */
}

.sidebar-container .ps-sidebar-root{
    border: none;
}

.sidebar-container .ps-menu-button{
    color: white !important;
    transition: all .3s;
}

.sidebar-container .ps-menu-button:hover{
    background-color: rgba(0, 146, 77, 0.2) !important;
    border-left: 4px solid rgba(0, 146, 77);
}

.avatar-img{
    width: 40px;
    background-color: rgba(244, 206, 155, 1);
}

/* .loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 132, 107, 0.3);
}
.loading-overlay img{
    width: 100px;
} */

.loading-img{
    width: 20px;
}

.bg-lightgrey{
    background-color: rgba(226, 229, 235) !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-bg-type: rgb(250, 250, 250) !important;
}

.action-item:focus{
    background:  rgb(222, 222, 222) !important;
    color: black !important;
}